<section class="container two columns padding-10">
	<mat-card class="white gradient-card">
		<mat-card-content>
			<div class="image">
				<img src="../../../assets/img/promotions/current/1.jpg" alt="20% off for First visit">
			</div>
			<div class="content">
				<div class="flex">
					<strong>Price:&nbsp;</strong>
					<div>Free</div>
				</div>
				<br>
				<div>
					We are offering 🌟 20% discount 🌟 to all our customers on their first visit. Please note that this offer is valid only on our services, and is not applicable on product sales.
					<br>
					Feel free to contact us for any additional information.
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card class="white gradient-card">
		<mat-card-content>
			<div class="image">
				<img src="../../../assets/img/promotions/current/2.jpg" alt="20% off on membership">
			</div>
			<div class="content">
				<div class="flex">
					<strong>Price:&nbsp;</strong>
					<div>₹500</div>
				</div>
				<br>
				We are offering 20% discount to all our customers on their first visit. Please note that this offer is valid only on our services, and is not applicable on product sales. Feel free to contact us for any additional information.
			</div>
		</mat-card-content>
	</mat-card>
</section>