<section class="container two columns padding-10">
	<mat-card class="white gradient-card">
		<mat-card-content>
			<div class="image">
				<picture>
					<source srcset="assets/img/promotions/current/1.webp" type="image/webp">
					<source srcset="assets/img/promotions/current/1.webp" type="image/jpeg">
					<img src="assets/img/promotions/current/1.webp" alt="20% off for First visit">
				</picture>
			</div>
			<div class="content">
				<div class="flex">
					<strong>Price:&nbsp;</strong>
					<div>Free</div>
				</div>
				<br>
				<div>
					We are offering 🌟 20% discount 🌟 to all our customers on their first visit. Please note that this offer is valid only on our services, and is not applicable on product sales.
				</div>
				<br>
				Feel free to contact us for any additional information.
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card class="white gradient-card">
		<mat-card-content>
			<div class="image">
				<picture>
					<source srcset="assets/img/promotions/current/2.webp" type="image/webp">
					<source srcset="assets/img/promotions/current/2.webp" type="image/jpeg">
					<img src="assets/img/promotions/current/2.webp" alt="20% off on membership">
				</picture>
			</div>
			<div class="content">
				<div class="flex">
					<div>
						<strong>Price:&nbsp;</strong>₹500
					</div>
					<div>
						<strong>Validity:&nbsp;</strong>1 year
					</div>
				</div>
				<br>
				<div>
					Our membership offers you a 🌟 20% discount 🌟 on all our services for a period of 1 year. To checkout our membership prices, refer to our services page. Please note that this offer is valid only on our services, and is not applicable on product sales.
				</div>
				<br>
				Feel free to contact us for any additional information.
			</div>
		</mat-card-content>
	</mat-card>
	<br>
	<mat-divider class="two wide"></mat-divider>
	<section class="two wide">
		<h2 class="white">Coming soon!</h2>
		<mat-card class="white gradient-card">
			<div class="content">
				<mat-icon>info</mat-icon> We are working on some cool packages for this hot summer! Monitor this space or feel free to contact us for further information.
			</div>
		</mat-card>
	</section>
</section>