<section class="container" style="display: table; height: 100vh;">
	<section style="display: table-cell; vertical-align: middle;">
		<mat-card class="gradient-card">
			<h3 class="padding-5" style="text-align: justify;"><mat-icon>error_outline</mat-icon> We are sorry 🙇 as this page is still under construction. But we post all our updates on our social media. Please follow us on <a href="https://www.facebook.com/dianandapper" matTooltip="Facebook" rel="noreferrer" target="_blank">Facebook</a> or <a href="https://www.instagram.com/dianandapper" matTooltip="Instagram" rel="noreferrer" target="_blank">Instagram</a> for updates and current promotions!</h3>
		</mat-card>
	</section>
</section>