<div class="coming-soon-bg">
	<div class="container">
		<div class="two columns">
			<div class="bg-1">
				<div class="coming-soon-text">
					<h1>We are preparing to style you!</h1>
				</div>
			</div>
			<div class="bg-2">
				<img src="assets/img/peek-bitmoji.png" alt="hello">
			</div>
		</div>
		<mat-card class="bg-card">
			<div class="padding-15-vertical margin-5-horizontal">
				<div class="two columns" style="min-height: 400px;">
					<h1 style="align-self: center;">Diana and Dapper is a hair and beauty salon planned to open at Sainikpuri this year. You can contact us <a class="underline" href="mailto:info.dianandapper@gmail.com">here</a> to know more about our progress. We look forward to meeting you soon at our store!</h1>
					<div class="iframe-holder">
						<iframe class="full-width full-height" allowfullscreen frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB5ZoNc1pCyjOTSx1OxpAueDqo7ZGQgzgg&q=88,+Sai+Nagar+Rd,+Sai+Baba+Officers+Colony,+Sainikpuri,+Secunderabad,+Telangana+500094,+India" allowfullscreen>
						</iframe>
					</div>
				</div>
			</div>
		</mat-card>
	</div>
</div>