<div class="coming-soon-bg">
	<div class="container">
		<div class="two columns">
			<div class="bg-1">
				<div class="coming-soon-text">
					<h1>We are preparing to style you!</h1>
				</div>
			</div>
			<div class="bg-2">
				<img src="assets/img/peek-bitmoji.png" alt="hello">
			</div>
		</div>
		<div class="padding-15-vertical margin-5-horizontal">
			<mat-card class="center padding-15">
				<h1>Diana and Dapper is a hair and beauty salon planned to open at Sainikpuri this year. You can contact us at <a href="mailto:info.dianandapper@gmail.com">info.dianandapper@gmail.com</a> to know more about our progress. We look forward to meeting you soon at our store!</h1>
			</mat-card>
		</div>
	</div>
</div>