<div class="coming-soon-bg">
	<div class="container">
		<div class="two columns">
			<div class="bg-1">
				<div class="coming-soon-text">
					<h1 class="padding-3-horizontal">New salon update!</h1>
				</div>
			</div>
			<div class="bg-2">
				<img class="coming-soon-image" [src]="bitmoji" alt="hello">
			</div>
		</div>
		<mat-card class="bg-card">
			<div class="padding-15-vertical margin-5-horizontal">
				<div class="two columns" style="min-height: 400px;">
					<section style="text-align: justify; padding: 0px 20px;">
						<p class="font-24 white">Yes, you heard it right!</p>
						<p class="font-16 white">We are opening a new salon in Malkajgiri. Our list of services at our new salon include, but not limited to, makeup, facials, hair dressing, manicure, pedicure, and bridal services. Swing by and let us work our magic to bring the inner beauty in you to life. You can contact us to know more about our progress. We look forward to meeting you soon at our store!</p>
						<p class="font-16 white">🤫 Hush, we are currently working on some inaugural offers for our new salon. We will update them in our offers page, once finalized.</p>
					</section>
					<div class="iframe-holder">
						<iframe class="full-width full-height" allowfullscreen frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB5ZoNc1pCyjOTSx1OxpAueDqo7ZGQgzgg&q=Diana %26 Dapper Unisex Salon, Malkajgiri, First Floor, Street Number 3, Vishnupuri Colony, Malkajgiri, Hyderabad, Telangana 500047, India" allowfullscreen>
						</iframe>
					</div>
				</div>
			</div>
		</mat-card>
	</div>
</div>