mat-sidenav-container, mat-sidenav-content, mat-sidenav {
	height: 100%;
}

mat-sidenav {
	width: 100%;
}

mat-toolbar {
	transition: 300ms ease-in-out;
	height: 80px;
}

.navbar-shrink {
	transition: 300ms ease-in-out;
	height: 60px !important;
	opacity: 0.9;
}