<mat-sidenav-container>
	<mat-sidenav position="end" #sidenav role="navigation">
		<mobile-menu [links]="links" (sidenavClose)="sidenav.close()"></mobile-menu>
	</mat-sidenav>
	<mat-sidenav-content id="parent">
		<mat-toolbar [ngClass]="{ 'navbar-shrink': isScrolled }" style="position: fixed; z-index: 1000;" color="primary">
			<section class="flex no-flex-column" style="width: 100%; justify-content: space-between;">
				<a href="/" rel="noopener">
					<div style="display: grid; grid-template-columns: 50px 1fr; align-items: center;">
						<img src="assets/img/just-logo.png" height="50px" alt="logo" style="vertical-align: top;">
						<div class="margin-2-horizontal accent-color flex" style="font-family: calibri; text-transform: uppercase; flex-direction: column;">
							<span class="font-24" style="line-height: 24px !important; letter-spacing: 2px;">Diana & Dapper</span>
							<span class="font-14" style="text-align: center; line-height: 16px !important; letter-spacing: 8px;">Unisex salon</span>
						</div>
					</div>
				</a>
				<button class="menu-button" style="align-self: center;" mat-icon-button aria-label="Menu" (click)="sidenav.toggle()">
					<mat-icon>menu</mat-icon>
				</button>
			</section>
			<desktop-menu [links]="links" (sidenavToggle)="sidenav.toggle()"></desktop-menu>
		</mat-toolbar>
		<section style="min-height: 100vh; padding-top: 80px; background: #dc8e2e;" id="target">
			<router-outlet></router-outlet>
			<button class="book-now" [matMenuTriggerFor]="menu" mat-raised-button color="warn"><mat-icon style="font-size: 18px; height: 20px;">event</mat-icon> Book an appointment</button>
			<mat-menu #menu="matMenu">
				<a class="font-16" mat-menu-item href="https://www.welns.io/product/booking/WFRCHN136217/dianandappermalkajgiri?bk_src=LI103" target="_blank">
					<mat-icon style="margin: 0;">location_on</mat-icon> Malkajgiri Branch &nbsp;
				</a>
				<a class="font-16" mat-menu-item href="https://www.welns.io/product/booking/WFRCHN136217/dianandapper?bk_src=LI103" target="_blank">
					<mat-icon style="margin: 0;">location_on</mat-icon> Sainikpuri Branch &nbsp;
				</a>
			</mat-menu>
		</section>
		<footer></footer>
	</mat-sidenav-content>
</mat-sidenav-container>