$fin-accent: (
	50: #edeeee,
	100: #d3d4d4,
	200: #b6b7b8,
	300: #999a9c,
	400: #838486,
	500: #6d6e71,
	600: #656669,
	700: #5a5b5e,
	800: #505154,
	900: #3e3f42,
	A100: #a6baf7,
	A200: #7796f3,
	A400: #386aff,
	A700: #1f57ff,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #ffffff,
		A700: #ffffff,
	),
);

$fin-primary: (
	50: #e5e4e4,
	100: #bdbcbc,
	200: #918f90,
	300: #656263,
	400: #444141,
	500: #231f20,
	600: #1f1b1c,
	700: #1a1718,
	800: #151213,
	900: #0c0a0b,
	A100: #ff52ff,
	A200: #ff1fff,
	A400: #eb00eb,
	A700: #d200d2,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #ffffff,
		A400: #ffffff,
		A700: #ffffff,
	),
);
