$fin-accent: (
    50 : #edeeee,
    100 : #d3d4d4,
    200 : #b6b7b8,
    300 : #999a9c,
    400 : #838486,
    500 : #6d6e71,
    600 : #656669,
    700 : #5a5b5e,
    800 : #505154,
    900 : #3e3f42,
    A100 : #a6baf7,
    A200 : #7796f3,
    A400 : #386aff,
    A700 : #1f57ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$fin-primary: (
    50 : #ecf5e8,
    100 : #cfe5c6,
    200 : #afd4a0,
    300 : #8fc27a,
    400 : #77b55e,
    500 : #5fa841,
    600 : #57a03b,
    700 : #4d9732,
    800 : #438d2a,
    900 : #327d1c,
    A100 : #c6ffb8,
    A200 : #9dff85,
    A400 : #75ff52,
    A700 : #60ff38,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
