$fin-accent: (
	50: #fbf2e6,
	100: #f5ddc0,
	200: #efc797,
	300: #e8b16d,
	400: #e3a04d,
	500: #de8f2e,
	600: #da8729,
	700: #d57c23,
	800: #d1721d,
	900: #c86012,
	A100: #fffaf7,
	A200: #ffdbc4,
	A400: #ffbc91,
	A700: #ffac78,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #000000,
		400: #000000,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #000000,
		A400: #ffffff,
		A700: #ffffff,
	),
);

$fin-primary: (
	50: #e5e4e4,
	100: #bdbcbc,
	200: #918f90,
	300: #656263,
	400: #444141,
	500: #231f20,
	600: #1f1b1c,
	700: #1a1718,
	800: #151213,
	900: #0c0a0b,
	A100: #ff52ff,
	A200: #ff1fff,
	A400: #eb00eb,
	A700: #d200d2,
	contrast: (
		50: #000000,
		100: #000000,
		200: #000000,
		300: #ffffff,
		400: #ffffff,
		500: #ffffff,
		600: #ffffff,
		700: #ffffff,
		800: #ffffff,
		900: #ffffff,
		A100: #000000,
		A200: #ffffff,
		A400: #ffffff,
		A700: #ffffff,
	),
);
