@import "~@angular/material/theming";
@import "core";
@import "palette";

$headerFontFamily: "Roboto", "sans-serif";
$font-family: "Roboto", "sans-serif";
$display-1: mat-typography-level(24px, 58px, 600);
$headline: mat-typography-level(30px, 47px, 400); //h1
$title: mat-typography-level(26px, 38px, 500); //h2
$subheading-2: mat-typography-level(24px, 27px, 500); //h3
$subheading-1: mat-typography-level(22px, 28px, 500); //h4
$body-1: mat-typography-level(12px, 20px, 400); //h5 and panel content
$body-2: mat-typography-level(12px, 24px, 400);
$caption: mat-typography-level(13px, 18px, 400);
// `headlines` and `body-1` levels.
$typography: mat-typography-config(
	$font-family: $font-family,
	$title: $title,
	$subheading-1: $subheading-1,
	$subheading-2: $subheading-2,
	$body-1: $body-1,
	$body-2: $body-2,
	$caption: $caption,
	$display-1: $display-1,
	$headline: $headline,
);
// $headline: mat-typography-level(32px, 48px, 700),
// $body-1: mat-typography-level(16px, 24px, 500),
$button: fin-button-config(
	$text-transform: uppercase,
);
$theme: theme($fin-primary, $fin-accent);
$mat-toggle-size: 40px !default;

@include fin-core($theme, $typography, $button, $headerFontFamily: $headerFontFamily);
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$banner-image: banner-image-theme(map-get($primary, default), white);
$desktop-menu: main-menu-theme(
	$background: transparent,
	$hover: mat-color($primary),
	$active: mat-color($primary, darker),
	$height: 78px,
);
$ui-theme: ui-theme(
	$theme,
	// $banner-image: $banner-image,
	$desktop-menu: $desktop-menu
);
@include ui($ui-theme);

// @include custom-styles($theme);

// @mixin custom-styles($theme) {
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$light: map-get($theme, light);
$screen-sizes: screen-sizes();
$grey: #b6b6b6;
$light-grey: #f9f9f9;
$primary-colour: mat-color($primary);
$accent-colour: mat-color($accent);

.mat-typography {
	h2 {
		color: $primary-colour;
		margin: 14px 0;
	}

	h3,
	h4,
	h5 {
		color: $accent-colour;
		&.primary {
			color: $primary-colour;
		}
	}

	h3 {
		margin-block-start: 1em;
		margin-block-end: 1em;
	}
}

.mat-flat-button {
	padding: 2px 12px;
	font-size: 14px;
}

.mat-panel-title {
	flex-direction: column;
}

.mat-slider {
	.mat-slider-thumb {
		background-color: $accent-colour !important;
	}
}

.panel {
	border-radius: 10px !important;
	box-shadow: none !important;
	margin: 10px 0 !important;
	background-color: #fff3e6;
}

.panel-header {
	color: white;
	background-color: rgb(80, 198, 216) !important;
	font-size: 24px !important;
	font-weight: bold;
	@media only screen and (max-width: map-get($screen-sizes, tabletBreakpoint)) {
		font-size: 20px !important;
		line-height: 28px !important;
	}
}

.white-arrow > .mat-expansion-indicator:after {
	color: white;
}

.mat-list .mat-list-item,
.mat-nav-list .mat-list-item,
.mat-selection-list .mat-list-item {
	font-size: 16px;
}

.mat-drawer-container,
.mat-app-background {
	background-color: transparent;
	color: mat-color($accent);
}

.mat-tab-nav-bar,
.mat-tab-header {
	border-bottom: none;
}

.mat-fab.mat-primary[disabled],
.mat-mini-fab.mat-primary[disabled],
.mat-icon-button.mat-primary[disabled] {
	background-color: $primary-colour;
}

.mat-fab.mat-accent[disabled],
.mat-mini-fab.mat-accent[disabled],
.mat-icon-button.mat-accent[disabled] {
	background-color: $grey;
}

desktop-menu {
	.mat-tab-links {
		.mat-tab-link {
			font-size: 22px;
			font-weight: bold !important;
			color: white;
			letter-spacing: -0.25px;
			line-height: 28px;
			text-transform: none;
			padding: 1em 0.5em !important;
			opacity: 1 !important;
			flex-grow: 0;
			border-radius: 0 !important;
			margin-left: 0.5em;
			margin-right: 0.5em;
			border-bottom: 2px solid transparent;
			&:hover {
				color: white !important;
				background-color: transparent !important;
				border-bottom-color: white;
			}
		}
		.mat-flat-button {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
			line-height: 54px;
			height: 100%;
			span {
				transition: color 1s ease;
			}
			@media only screen and (max-width: map-get($screen-sizes, desktopBreakpoint)) {
				display: none;
			}
		}
	}
	.spacer {
		height: 100px;
	}
}

.huge-padding {
	padding-bottom: 2.7em !important;
}

a {
	color: $primary-colour;
}

hr {
	height: 0.2em;
	border-width: 0px;
	&.primary-colour {
		background-color: $primary-colour;
	}
	&.white {
		background-color: white;
	}
}

ul {
	padding-left: 1em;
	margin-top: 0px;
	margin-bottom: 0px;
	li {
		padding-left: 0.7em;
		// padding-bottom: 15px;
	}
}

.mat-progress-bar.mat-accent .mat-progress-bar-buffer {
	background-color: white;
}

.mat-form-field:not([type="checkbox"]),
form-field[type="buttons"] {
	font-size: 14px;
	mat-error {
		font-size: 12px;
	}
}

.mat-form-field-appearance-outline {
	.mat-form-field-outline-end,
	.mat-form-field-outline-start,
	.mat-form-field-outline-gap {
		border-width: 1px !important;
	}
}

.mat-form-field-appearance-outline:not(.mat-form-field-disabled) {
	.mat-form-field-outline {
		background-color: white;
	}
}
.mat-button-toggle-group {
	border: none;
	border-radius: 6px;
	box-shadow: none;
	.mat-button-toggle {
		background-color: white;
		padding: 0.6em;
		margin-right: 0.6em;
		border-radius: 6px;
		color: $grey;
		@media only screen and (max-width: map-get($screen-sizes, tabletBreakpoint)) {
			padding: 0 !important;
		}
	}
	.mat-button-toggle-checked {
		color: white;
	}
}

.form-panel {
	display: block;
	background-color: #f8f5f9;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 30px 50px 15px 50px;
	form-field {
		text-align: left;
	}

	@media only screen and (max-width: map-get($screen-sizes, tabletBreakpoint)) {
		padding: 20px;
	}
}

.mobile-padding {
	@media only screen and (max-width: map-get($screen-sizes, tabletBreakpoint)) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

form-field,
.narrow,
div.table,
div:not(.ng-star-inserted) > mat-form-field,
div:not(.ng-star-inserted) > div > mat-form-field {
	width: 100%;
}

.mat-stepper-horizontal-line,
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before,
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after,
[dir="rtl"] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after,
[dir="rtl"] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before {
	border-top-width: 0 !important;
}

.mat-stepper-label-position-bottom {
	.mat-horizontal-stepper-header {
		flex-direction: column !important;
		flex: auto !important;
		padding: 24px 0 !important;
	}
	.mat-stepper-horizontal-line {
		height: 39px !important;
		width: 20px;
		min-width: 26px !important;
		max-width: 26px;
		margin-top: -20px;
		content: url(/assets/img/right.png);
	}
}

.mat-stepper-label-position-bottom {
	.mat-horizontal-stepper-header-container {
		display: none;
	}
}

iframe {
	border-width: 0;
}

mat-label {
	font-size: 14px;
}
.mat-radio-group {
	margin-bottom: 16px;

	.mat-radio-button {
		display: block !important;
		margin-top: 7px;
		margin-bottom: 7px;

		.mat-radio-label {
			.mat-radio-container {
				width: 26px;
				height: 26px;
				.mat-radio-outer-circle {
					border-width: 3px !important;
					height: 26px;
					width: 26px;
					margin-right: 20px;
				}
				.mat-radio-inner-circle {
					height: 26px;
					width: 26px;
				}
			}
			.mat-radio-label-content {
				padding-left: 18px;
			}
		}
	}
}

.mat-simple-snackbar button {
	color: $primary-colour;
}

main {
	margin-top: 40px;
}

.mat-expansion-panel {
	color: inherit;

	.mat-expansion-indicator {
		margin-right: 10px;
	}
}

.mat-checkbox {
	align-self: center;
	padding-bottom: 5px;
	p {
		margin-bottom: 0;
	}
	.mat-checkbox-layout {
		margin-bottom: 8px;
	}
	.mat-checkbox-label {
		margin-left: 15px;
	}
	.mat-checkbox-inner-container {
		padding: 5px;
		// margin-top: auto !important; //center    aligns checkboxes
	}
	.large-checkbox & {
		.mat-checkbox-inner-container {
			padding: 11px;
			margin-top: auto !important;
		}
	}
}

mat-icon[matTooltip] {
	font-size: 24px;
	padding-left: 5px;
}

.top-scroll-button {
	bottom: 0px !important;
}

.loading {
	opacity: 0.5;
}
.disabled {
	opacity: 0.5;
}

mat-select::-webkit-scrollbar,
div::-webkit-scrollbar {
	width: 15px;
	background: #e9f2f9;
}

mat-select::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
	border-radius: 5px;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
	background: #c8def0;
}

.no-padding-dialog .mat-dialog-container {
	padding: 0px;
}

button.mat-flat-button.mat-primary {
	color: white;
}

@media only screen and (max-width: map-get($screen-sizes, tabletBreakpoint)) {
	main {
		padding-top: 78px;
	}
	mat-expansion-panel.loan-calculator-details {
		width: 100% !important;
	}
	hr {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}
	mobile-top-menu nav {
		background-color: white;
		img {
			cursor: pointer;
		}
	}
	coming-soon .coming-soon-bg .two.columns {
		.bg-1 {
			border-radius: 0px !important;
		}
		.bg-2 {
			border-radius: 0px 0px 20px 20px !important;
		}
	}

	desktop-menu {
		display: none !important;
	}

	mobile-menu,
	button.menu-button {
		display: inline-block !important;
	}
}

desktop-menu {
	display: block;
}

mobile-menu {
	display: none;
	width: 100%;
}

button.menu-button {
	display: none;
	color: $accent-colour;
}

@media only screen and (max-width: map-get($screen-sizes, largeMobileBreakpoint)) {
	.mat-flat-button {
		white-space: normal !important;
	}
}

.panel.info {
	border-color: $primary-colour;
}

nav img.logo-image.responsive {
	cursor: pointer;
}

.panel.warning {
	color: orangered;
}

// Component styles

body {
	font-family: $font-family !important;
}

footer {
	border-top: 2px solid $accent-colour;
	mat-divider {
		border-top-color: $accent-colour !important;
	}
	a.site-author {
		color: white;
		display: inline-block;
		&::after {
			content: "";
			width: 0px;
			height: 2px;
			display: block;
			background: $accent-colour;
			transition: 300ms;
		}
		&:hover::after {
			width: 100%;
		}
	}
}

coming-soon .coming-soon-bg {
	background: linear-gradient(to bottom, #dc8e2e 0%, #231f20 100%);
	.two.columns {
		grid-column-gap: 0px !important;
		margin: 0px 50px;
		.bg-1 {
			z-index: 100;
			background-color: $accent-colour;
			div.coming-soon-text {
				display: flex;
				margin: auto;
				flex-direction: column-reverse;
				height: 100%;
				h1 {
					margin-left: 20px;
					border-left: 4px solid $primary-colour;
					background-color: rgba(0, 0, 0, 0.3);
				}
			}
			border-radius: 0px 0px 0px 20px;
		}
		.bg-2 {
			z-index: 100;
			position: relative;
			background-color: #ef9a2f;
			display: flex;
			flex-direction: row-reverse;
			img {
				max-height: 30vh;
				padding-right: 30px;
			}
			border-radius: 0px 0px 20px 0px;
		}
	}
	mat-card.bg-card {
		border-radius: 20px;
		top: -50px;
		z-index: 0;
		h1 {
			line-height: 40px;
			color: #fff;
		}
		background: rgba(0, 0, 0, 0.3);
	}
}

mat-card.gradient-card {
	border-radius: 20px;
	z-index: 0;
	background: rgba(0, 0, 0, 0.3);
}

.iframe-holder iframe {
	border: 2px solid $accent-colour;
	border-radius: 25px;
	min-height: 350px;
}

a {
	color: #fff;
}

.underline {
	text-decoration: underline;
}

.whitesmoke {
	color: whitesmoke !important;
}

html,
body {
	height: 100%;
	margin: 0;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-input-element {
	padding-bottom: 5px !important ;
}

store-menu {
	.mat-tab-label[aria-selected="true"] {
		opacity: 1;
		.mat-tab-label-content {
			color: #141e30;
			font-weight: 600;
			transform: scale(1.15);
			transition: 300ms ease-in-out;
		}
	}
	mat-ink-bar {
		background: linear-gradient(to right, #141e30, #243b55);
	}
}

mat-sidenav {
	background: linear-gradient(to bottom, $accent-colour, #F2C94C) !important;
	.mat-expansion-panel {
		background-color: transparent;
	}
}

.mat-menu-panel {
	background-color: $accent-colour;
	button {
		font-size: 14px;
		color: $primary-colour !important;
		&.active {
			background: linear-gradient(to bottom, #231f20, #3c3b3f) !important;
			color: white !important;
			mat-icon {
				color: white !important;
			}
		}
		mat-icon {
			color: $primary-colour !important;
		}
	}
}
