<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="RemoveTrailingSlashRule12" stopProcessing="false">
					<match url="(.*)/$" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Redirect" url="{R:1}" />
				</rule>
				<rule name="HTTP to HTTPS redirect2" stopProcessing="false">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
				</rule>
				<rule name="Angular Routes2" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="./index.html" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<location path="index.html">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="DisableCache" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="assets/config">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="DisableCache" />
			</staticContent>
		</system.webServer>
	</location>
</configuration>
