<section class="container center margin-5-vertical" style="margin-bottom: 0px !important; padding-bottom: 25px;">
	<h1>Our Menu</h1>
	<mat-tab-group color="primary" mat-align-tabs="end">
		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon>male</mat-icon>
				For Him
			</ng-template>
			<br />
			<!-- <img src="../../../assets/img/male_menu/1.jpeg" alt="Diana & Dapper Main Page">
			<img src="../../../assets/img/male_menu/2.jpeg" alt="Male Menu Page 2"> -->
			<img src="../../../assets/img/male_menu/3.jpeg" alt="Male Menu Page 3">
			<img src="../../../assets/img/male_menu/4.jpeg" alt="Male Menu Page 4">
			<img src="../../../assets/img/male_menu/5.jpeg" alt="Male Menu Page 5">
			<img src="../../../assets/img/male_menu/6.jpeg" alt="Male Menu Page 6">
			<img src="../../../assets/img/male_menu/7.jpeg" alt="Male Menu Page 7">
			<img src="../../../assets/img/male_menu/8.jpeg" alt="Male Menu Page 8">
		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon>female</mat-icon>
				For Her
			</ng-template>
			<br />
			<!-- <img src="../../../assets/img/female_menu/1.jpeg" alt="Diana & Dapper Main Page">
			<img src="../../../assets/img/female_menu/2.jpeg" alt="Female Menu Page 2"> -->
			<img src="../../../assets/img/female_menu/3.jpeg" alt="Female Menu Page 3">
			<img src="../../../assets/img/female_menu/4.jpeg" alt="Female Menu Page 4">
			<img src="../../../assets/img/female_menu/5.jpeg" alt="Female Menu Page 5">
			<img src="../../../assets/img/female_menu/6.jpeg" alt="Female Menu Page 6">
			<img src="../../../assets/img/female_menu/7.jpeg" alt="Female Menu Page 7">
			<img src="../../../assets/img/female_menu/8.jpeg" alt="Female Menu Page 8">
			<img src="../../../assets/img/female_menu/9.jpeg" alt="Female Menu Page 9">
			<img src="../../../assets/img/female_menu/10.jpeg" alt="Female Menu Page 10">
			<img src="../../../assets/img/female_menu/11.jpeg" alt="Female Menu Page 11">
		</mat-tab>
	</mat-tab-group>
</section>