<section class="container center margin-5-vertical" style="margin-bottom: 0px !important; padding-bottom: 25px;">
	<h1>Our Menu</h1>
	<mat-tab-group color="primary" mat-align-tabs="end">
		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon>male</mat-icon>
				For Him
			</ng-template>
			<br />
			<male-menu></male-menu>
		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon>female</mat-icon>
				For Her
			</ng-template>
			<br />
			<female-menu></female-menu>
		</mat-tab>
	</mat-tab-group>
</section>