<section style="display: flex; flex-direction: row-reverse">
	<ul class="navigation-items">
		<li>
			<a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
		</li>
		<li>
			<a routerLink="/menu" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Menu</a>
		</li>
		<li>
			<a routerLink="/contact-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact us</a>
		</li>
		<li>
			<a routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About us</a>
		</li>
		<li>
			<a routerLink="/services" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Services</a>
		</li>
		<li>
			<a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Products</a>
		</li>
		<li>
			<a routerLink="/promos" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Promotions</a>
		</li>
	</ul>
</section>