.example-spacer {
	flex: 1 1 auto;
}

ul.navigation-items {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	li {
		display: inline-block;
		cursor: pointer;
		a {
			font-size: 14px;
			&.active {
				color: #de8f2e;
			}
		}
	}
}

button.active, button.active mat-icon {
	color: #de8f2e;
}