<section class="container" style="display: table; height: 100vh;">
	<section style="display: table-cell; vertical-align: middle;">
		<mat-card class="white padding-10">
			<div class="font-24 center">
				We ❤️ to hear from you.
			</div>
			<br>
			<section class="two columns">
				<section style="display: flex; flex-direction: column; justify-content: space-between;">
					<p class="font-16">Do you want to make a booking with us? Do you want to check what service will suit your skin type or hair type? Or do you want to have a chat about something else? Irrespective of what your query is, we love to hear from you! Please feel free to call us at 📞
						<a class="primary-colour underline" matTooltip="Mobile" href="tel:76748 18484" rel="noreferrer noopener">76748 18484</a>
						or email us at 📨
						<a class="primary-colour underline" matTooltip="Email us" href="mailto: info.dianandapper@gmail.com" rel="noreferrer noopener">
							info.dianandapper@gmail.com
						</a>
					</p>
					<br>
					<mat-divider [inset]="true"></mat-divider>
					<p class="font-16"><mat-icon style="font-size: 18px; height: 20px;">info</mat-icon> To know about what offers we are running currently, please go to our <a style="text-decoration: underline;" matTooltip="Offers" href="/offers">offers page</a>.</p>
					<br>
					<mat-divider [inset]="true"></mat-divider>
					<div>
						<p class="font-16">For latest updates, and information on how we are doing, do follow us on Facebook or Instagram.</p>
						<a href="https://www.facebook.com/dianandapper" matTooltip="Facebook" rel="noreferrer" target="_blank"><img src="assets/icons/facebook.png" alt="Facebook"></a>
						<a href="https://www.instagram.com/dianandapper" matTooltip="Instagram" rel="noreferrer" target="_blank"><img src="assets/icons/instagram.png" alt="Instagram"></a>
					</div>
					<br>
					<mat-divider [inset]="true"></mat-divider>
					<p class="font-16">To book an appointment online, please use this button below:</p>
					<a class="primary-colour" href="https://www.fresha.com/book-now/diana-dapper-bzkgavsd/services?lid=455260&pId=424872" target="_blank" mat-raised-button color="accent">Book an appointment <mat-icon style="font-size: 18px; height: 20px;">event</mat-icon></a>
				</section>
				<div class="iframe-holder">
					<iframe title="Sainikpuri salon location" class="full-width full-height" allowfullscreen frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB5ZoNc1pCyjOTSx1OxpAueDqo7ZGQgzgg&q=Diana %26 Dapper Unisex Salon, Sainikpuri, Bhaskar Nagar Road, Saibaba Officer's Colony, Sri Sai Baba Officer's Colony, Osmania University Teachers Colony, Sainikpuri, Secunderabad, Telangana, India">
					</iframe>
				</div>
			</section>
			<br>
		</mat-card>
	</section>
</section>