<section class="container padding-5-vertical center">
	<picture>
		<source srcset="assets/img/female_menu/3.webp" type="image/webp">
		<source srcset="assets/img/female_menu/3.jpg" type="image/jpeg">
		<img src="assets/img/female_menu/3.jpg" alt="Female Menu Page 3">
	</picture>
	<picture>
		<source srcset="assets/img/female_menu/4.webp" type="image/webp">
		<source srcset="assets/img/female_menu/4.jpg" type="image/jpeg">
		<img src="assets/img/female_menu/4.jpg" alt="Female Menu Page 4">
	</picture>
	<picture>
		<source srcset="assets/img/female_menu/5.webp" type="image/webp">
		<source srcset="assets/img/female_menu/5.jpg" type="image/jpeg">
		<img src="assets/img/female_menu/5.jpg" alt="Female Menu Page 5">
	</picture>
	<picture>
		<source srcset="assets/img/female_menu/6.webp" type="image/webp">
		<source srcset="assets/img/female_menu/6.jpg" type="image/jpeg">
		<img src="assets/img/female_menu/6.jpg" alt="Female Menu Page 6">
	</picture>
	<picture>
		<source srcset="assets/img/female_menu/7.webp" type="image/webp">
		<source srcset="assets/img/female_menu/7.jpg" type="image/jpeg">
		<img src="assets/img/female_menu/7.jpg" alt="Female Menu Page 7">
	</picture>
	<picture>
		<source srcset="assets/img/female_menu/8.webp" type="image/webp">
		<source srcset="assets/img/female_menu/8.jpg" type="image/jpeg">
		<img src="assets/img/female_menu/8.jpg" alt="Female Menu Page 8">
	</picture>
	<picture>
		<source srcset="assets/img/female_menu/9.webp" type="image/webp">
		<source srcset="assets/img/female_menu/9.jpg" type="image/jpeg">
		<img src="assets/img/female_menu/9.jpg" alt="Female Menu Page 9">
	</picture>
	<picture>
		<source srcset="assets/img/female_menu/10.webp" type="image/webp">
		<source srcset="assets/img/female_menu/10.jpg" type="image/jpeg">
		<img src="assets/img/female_menu/10.jpg" alt="Female Menu Page 10">
	</picture>
	<picture>
		<source srcset="assets/img/female_menu/11.webp" type="image/webp">
		<source srcset="assets/img/female_menu/11.jpg" type="image/jpeg">
		<img src="assets/img/female_menu/11.jpg" alt="Female Menu Page 11">
	</picture>
	<picture>
		<source srcset="assets/img/female_menu/12.webp" type="image/webp">
		<source srcset="assets/img/female_menu/12.jpg" type="image/jpeg">
		<img src="assets/img/female_menu/12.jpg" alt="Female Menu Page 12">
	</picture>
	<picture>
		<source srcset="assets/img/female_menu/13.webp" type="image/webp">
		<source srcset="assets/img/female_menu/13.jpg" type="image/jpeg">
		<img src="assets/img/female_menu/13.jpg" alt="Female Menu Page 13">
	</picture>
	<picture>
		<source srcset="assets/img/female_menu/14.webp" type="image/webp">
		<source srcset="assets/img/female_menu/14.jpg" type="image/jpeg">
		<img src="assets/img/female_menu/14.jpg" alt="Female Menu Page 14">
	</picture>
</section>