<section style="margin: auto; max-width: 1200px;" class="two columns no-grid-space">
	<div class="bg-1">
		<div class="coming-soon-text">
			<h1 class="padding-3-horizontal" style="margin-top: 50px;">We are ready to style you!</h1>
		</div>
	</div>
	<div class="bg-2">
		<img style="margin: auto;" [src]="bitmoji" alt="yay!">
	</div>
</section>
<br><br>

<section style="background: rgba(0, 0, 0, 0.3);">
	<div class="two columns" style="max-width: 1200px; margin: auto;">
		<div class="white padding-5" style="text-align: center;">
			<h3><span class="underline">Our Location</span> 📍</h3>
			<p class="font-20">
				Plot No: 88/A, Second Floor,<br />
				High tension Road,<br />
				Sai Baba Officers Colony,<br />
				Sainikpuri,<br />
				Secunderabad, Telangana - 500094.<br />
				<a class="font-14 underline accent-colour navigate" target="_blank" rel="noreferrer noopener" href="https://g.page/dianandapper?share">
					<i>Navigate me there</i>
					<mat-icon style="height: 14px; width: 14px; font-size: 14px;">east</mat-icon>
				</a>
			</p>
			<mat-divider></mat-divider>
			<h3 class="underline">Don't love waiting?</h3>
			<p class="font-20">
				Please feel free to book an appointment with us beforehand to avoid any hassle. Simply contact us at 📞
				<a class="accent-colour underline" matTooltip="Mobile" rel="noreferrer noopener" href="tel: 76748 18484">76748 18484</a> or ☎️
				<a class="accent-colour underline" matTooltip="Landline" href="tel:040 4014 8237" rel="noreferrer noopener">040 4014 8237</a>
				and talk to our professionals for an appointment.
			</p>
		</div>
		<div class="iframe-holder padding-5">
			<iframe class="full-width full-height" allowfullscreen frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB5ZoNc1pCyjOTSx1OxpAueDqo7ZGQgzgg&q=Diana %26 Dapper Unisex Salon, Bhaskar Nagar Road, Saibaba Officer's Colony, Sri Sai Baba Officer's Colony, Osmania University Teachers Colony, Sainikpuri, Secunderabad, Telangana, India" allowfullscreen>
			</iframe>
		</div>
	</div>
</section>

<section class="padding-5" style="max-width: 1200px; margin: auto;">
	<mat-card class="info">
		<h3>We ❤️ to hear from you.</h3>
		<p class="font-20 white">If you want to share anything with us, positive 😄 or negative 😓, please feel free to hit us up at <a class="accent-colour" href="mailto: info.dianandapper@gmail.com" rel="noreferrer noopener" matTooltip="Email us"><span style="white-space: nowrap;">📨 info.dianandapper@gmail.com</span></a>. Although we like to resolve your issues, some positive vibes are welcome too. 😇</p>
	</mat-card>
</section>