<section class="container">

	<section style="margin: auto; padding: 20px;">
		<mat-card class="coming-soon white">
			<p class="font-20">🎉🎉 We have some good news to share with you!</p>
			<p class="font-16">We are really happy to inform you that we are opening a new branch in Malkajgiri! Checkout our <a class="underline accent-colour navigate" target="_blank" rel="noreferrer noopener" href="/coming-soon">coming soon</a> section for more info.</p>
		</mat-card>
	</section>

	<section style="margin: auto; padding: 20px;">
		<img style="border-radius: 20px;" src="assets/img/promotions/current/1.gif" alt="30% off promotion">
	</section>

	<section style="margin: auto; padding: 20px;">
		<carousel [images]="images" [height]="300" [cellWidth]="350" [loop]="true" [autoplay]="true" [autoplayInterval]="3000" arrowsTheme="dark" [borderRadius]="20" style="z-index: 1;">
		</carousel>
	</section>

	<section>
		<div class="two columns" style="max-width: 1200px; margin: auto;">
			<div class="white padding-5" style="text-align: center;">
				<h3><span class="underline">Our Location</span> 📍</h3>
				<p class="font-20">
					Plot No: 88/A, Second Floor,<br />
					High tension Road,<br />
					Sai Baba Officers Colony,<br />
					Sainikpuri,<br />
					Secunderabad, Telangana - 500094.<br />
					<a class="font-14 underline accent-colour navigate" target="_blank" rel="noreferrer noopener" href="https://g.page/dianandapper?share">
						<i>Navigate me there</i>
						<mat-icon style="height: 14px; width: 14px; font-size: 14px;">east</mat-icon>
					</a>
				</p>
				<h3 class="underline">Don't love waiting?</h3>
				<p class="font-20">
					Please feel free to book an appointment with us beforehand to avoid any hassle. Simply contact us at 📞
					<a class="accent-colour underline" matTooltip="Mobile" rel="noreferrer noopener" href="tel: 76748 18484">76748 18484</a>
					and talk to our professionals for an appointment.
				</p>
			</div>
			<div class="iframe-holder padding-15">
				<iframe class="full-width full-height" allowfullscreen frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB5ZoNc1pCyjOTSx1OxpAueDqo7ZGQgzgg&q=Diana %26 Dapper Unisex Salon, Sainikpuri, Bhaskar Nagar Road, Saibaba Officer's Colony, Sri Sai Baba Officer's Colony, Osmania University Teachers Colony, Sainikpuri, Secunderabad, Telangana, India" allowfullscreen>
				</iframe>
			</div>
		</div>
	</section>

	<section class="padding-5" style="max-width: 1200px; margin: auto;">
		<mat-card class="info">
			<h3>We ❤️ to hear from you.</h3>
			<p class="font-20 white">If you want to share anything with us, positive 😄 or negative 😓, please feel free to hit us up at <a class="accent-colour" href="mailto: info.dianandapper@gmail.com" rel="noreferrer noopener" matTooltip="Email us"><span style="white-space: nowrap;">📨 info.dianandapper@gmail.com</span></a>. Although we like to resolve your issues, some positive vibes are welcome too. 😇</p>
		</mat-card>
	</section>

</section>