<section class="container">
	<mat-card class="margin-2 coming-soon white">
		<p class="accent-colour font-20">With new beginnings comes a new offer!</p>
		<p class="font-16">We opened a new branch in Anandbagh, Malkajgiri and started serving our customers from <i class="accent-colour">"May the 4th"</i> (yes, that's a star wars reference). To celebrate this and make it a much sweeter deal for our customers, we have an inauguration offer running at the new salon. We would love for you to visit and get 30% off and a free membership on us.</p>
	</mat-card>

	<br>
	<mat-divider></mat-divider>
	<br>

	<mat-card class="margin-2 coming-soon">
		<h3>Our Branches</h3>
	</mat-card>

	<h4 class="margin-4 primary-colour">1. Malkajgiri Branch</h4>

	<section class="margin-2">
		<!-- <video width="320" height="240" autoplay loop muted alt="20% off promotion">
			<source src="assets/img/promotions/current/1.webp" type="video/webp" />
			<source src="assets/img/promotions/current/1.gif" type="video/gif" />
			Your browser does not support the video tag.
		</video> -->
		<img style="border-radius: 20px;" src="assets/img/promotions/current/3.gif" alt="30% off promotion">
	</section>

	<section class="margin-2 two columns">
		<mat-card class="margin-2-vertical coming-soon white">
			<p class="accent-colour font-20">Location</p>
			<p class="font-16">
				First Floor, Above KFC, Street Number 3, Anandbagh, Malkajgiri, Hyderabad, Telangana - 500047.
				<br>
				<a class="font-14 underline navigate" target="_blank" rel="noreferrer noopener" href="https://goo.gl/maps/uRPVxDd79M9j8cJYA">
					<i>Navigate me there</i>
					<mat-icon style="height: 14px; width: 14px; font-size: 14px;">east</mat-icon>
				</a>
			</p>
			<p class="accent-colour font-20">Don't love waiting?</p>
			<p class="font-16">
				Please feel free to book an appointment with us beforehand to avoid any hassle. Simply contact us at <a class="accent-colour underline" matTooltip="Mobile" rel="noreferrer noopener" href="tel: 88850 40540">88850 40540</a>
				or click the Book an appointment button below.
			</p>
			<p class="accent-colour font-20">Socials</p>
			<p class="font-16">For any latest updates about our Malkajgiri branch, or information on how we are doing, do follow us on Instagram, Youtube, or Facebook. If you want to have a chat about anything, send an email to us.</p>
			<div style="display: flex; gap: 10px">
				<a href="https://www.instagram.com/malkajgiri.dianandapper" rel="noreferrer" target="_blank"><img src="assets/icons/instagram.png" alt="Instagram"></a>
				<a href="https://youtube.com/@DianaDapper" rel="noreferrer" target="_blank"><img src="assets/icons/youtube.png" alt="YouTube"></a>
				<a href="https://www.facebook.com/dianandapper" rel="noreferrer" target="_blank"><img src="assets/icons/facebook.png" alt="Facebook"></a>
				<a href="mailto: malkajgiri.dianandapper@gmail.com" rel="noreferrer noopener"><img src="assets/icons/email.png" alt="Gmail"></a>
			</div>
		</mat-card>
		<div class="margin-2-vertical iframe-holder">
			<iframe title="Malkajgiri salon location" allowfullscreen class="full-width full-height" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB5ZoNc1pCyjOTSx1OxpAueDqo7ZGQgzgg&q=Diana %26 Dapper Unisex Salon, Malkajgiri, First Floor, Street Number 3, Vishnupuri Colony, Malkajgiri, Hyderabad, Telangana 500047, India">
			</iframe>
		</div>
	</section>

	<br>
	<mat-divider></mat-divider>
	<br>

	<h4 class="margin-4 primary-colour">2. Sainikpuri Branch</h4>

	<section class="margin-2">
		<!-- <video width="320" height="240" autoplay loop muted alt="20% off promotion">
			<source src="assets/img/promotions/current/1.webp" type="video/webp" />
			<source src="assets/img/promotions/current/1.gif" type="video/gif" />
			Your browser does not support the video tag.
		</video> -->
		<img style="border-radius: 20px;" src="assets/img/promotions/current/1.gif" alt="20% off promotion">
	</section>

	<section class="margin-2">
		<carousel [images]="images" [height]="300" [cellWidth]="350" [loop]="true" [autoplay]="true" [autoplayInterval]="3000" arrowsTheme="light" [borderRadius]="20" style="z-index: 1;">
		</carousel>
	</section>

	<section class="margin-2 two columns">
		<mat-card class="margin-2-vertical coming-soon white">
			<p class="accent-colour font-20">Location</p>
			<p class="font-16">
				Plot No: 88/A, Second Floor, High tension Road, Sai Baba Officers Colony, Sainikpuri, Secunderabad, Telangana - 500094.
				<br />
				<a class="font-14 underline navigate" target="_blank" rel="noreferrer noopener" href="https://goo.gl/maps/mtpfNhYTEyV8p6JZ9">
					<i>Navigate me there</i>
					<mat-icon style="height: 14px; width: 14px; font-size: 14px;">east</mat-icon>
				</a>
			</p>
			<p class="accent-colour font-20">Don't love waiting?</p>
			<p class="font-16">
				Please feel free to book an appointment with us beforehand to avoid any hassle. Simply contact us at <a class="accent-colour underline" matTooltip="Mobile" rel="noreferrer noopener" href="tel: 76748 18484">76748 18484</a>
				or click the Book an appointment button below.
			</p>
			<p class="accent-colour font-20">Socials</p>
			<p class="font-16">For any latest updates about our Sainikpuri branch, or information on how we are doing, do follow us on Instagram, Youtube, or Facebook. If you want to have a chat about anything, send an email to us.</p>
			<div style="display: flex; gap: 10px">
				<a href="https://www.instagram.com/sainikpuri.dianandapper" rel="noreferrer" target="_blank"><img src="assets/icons/instagram.png" alt="Instagram"></a>
				<a href="https://youtube.com/@DianaDapper" rel="noreferrer" target="_blank"><img src="assets/icons/youtube.png" alt="YouTube"></a>
				<a href="https://www.facebook.com/dianandapper" rel="noreferrer" target="_blank"><img src="assets/icons/facebook.png" alt="Facebook"></a>
				<a href="mailto: sainikpuri.dianandapper@gmail.com" rel="noreferrer noopener"><img src="assets/icons/email.png" alt="Gmail"></a>
			</div>
		</mat-card>
		<div class="margin-2-vertical iframe-holder">
			<iframe title="Sainikpuri salon location" class="full-width full-height" allowfullscreen frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB5ZoNc1pCyjOTSx1OxpAueDqo7ZGQgzgg&q=Diana %26 Dapper Unisex Salon, Sainikpuri, Bhaskar Nagar Road, Saibaba Officer's Colony, Sri Sai Baba Officer's Colony, Osmania University Teachers Colony, Sainikpuri, Secunderabad, Telangana, India">
			</iframe>
		</div>
	</section>
	<br>

</section>