@mixin header($headerFontFamily) {
    .mat-typography {
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: #{$headerFontFamily};
            &.underline {
                border-bottom: 1px solid lightgray;
                margin-bottom: 25px;
            }
        }
    }
}
